{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Adam's Job Board</h1>
</div>
<div class="pure-g">
  <div class="pure-u-1-5">

  </div>
  <div class="pure-u-3-5">

    <table class="pure-table pure-table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Site</th>
          <th>Job Description</th>
          <th>Location</th>
          <th>Company Logo</th>
        </tr>
      </thead>
      <tbody>
      {% for job in jobs %}
        <tr>
          <td> {{ job.title}} </td>
          <td> <a href="{{ job.url }}">{{ job.url }}</a>  </td>
          <td> {{ job.description }} </td>
          <td>{{ job.location }}</td>
          <td>{{ job.company_logo }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
  <div class="pure-u-1-5">

  </div>
</div>




{% endblock %}